USE [master]
GO
/****** Object:  Database [myshopDB]    Script Date: 8/25/2021 10:31:44 AM ******/
CREATE DATABASE [myshopDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'myshopDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\myshopDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'myshopDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\myshopDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [myshopDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [myshopDB]
GO
/****** Object:  Table [dbo].[faq]    Script Date: 8/25/2021 10:31:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[faq](
	[faqid] [int] IDENTITY(1,1) NOT NULL,
	[faqq] [varchar](150) NOT NULL,
	[faqa] [varchar](150) NOT NULL,
 CONSTRAINT [PK_faq] PRIMARY KEY CLUSTERED 
(
	[faqid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[feed]    Script Date: 8/25/2021 10:31:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[feed](
	[feedid] [int] IDENTITY(1,1) NOT NULL,
	[feedq] [varchar](150) NOT NULL,
	[feeda] [varchar](150) NOT NULL,
 CONSTRAINT [PK_feed] PRIMARY KEY CLUSTERED 
(
	[feedid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblcat]    Script Date: 8/25/2021 10:31:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblcat](
	[cid] [int] IDENTITY(1,1) NOT NULL,
	[cname] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tblcat] PRIMARY KEY CLUSTERED 
(
	[cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblcust]    Script Date: 8/25/2021 10:31:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblcust](
	[customerid] [int] IDENTITY(1,1) NOT NULL,
	[customername] [varchar](50) NOT NULL,
	[customermail] [varchar](80) NOT NULL,
	[customerpass] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tblcust] PRIMARY KEY CLUSTERED 
(
	[customerid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblimages]    Script Date: 8/25/2021 10:31:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblimages](
	[img_id] [int] IDENTITY(1,1) NOT NULL,
	[img_name] [varchar](250) NOT NULL,
	[pid] [int] NOT NULL,
 CONSTRAINT [PK_tblimages] PRIMARY KEY CLUSTERED 
(
	[img_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblorderdetails]    Script Date: 8/25/2021 10:31:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblorderdetails](
	[did] [int] IDENTITY(1,1) NOT NULL,
	[oid] [int] NOT NULL,
	[pid] [int] NOT NULL,
	[pprice] [money] NOT NULL,
	[pqyt] [int] NOT NULL,
	[pamount] [money] NOT NULL,
	[custid] [int] NOT NULL,
	[odelivery] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tblorderdetails] PRIMARY KEY CLUSTERED 
(
	[did] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblorders]    Script Date: 8/25/2021 10:31:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblorders](
	[oid] [int] IDENTITY(88888888,1) NOT NULL,
	[odate] [date] NOT NULL,
	[opname] [varchar](50) NOT NULL,
	[opphone] [varchar](50) NOT NULL,
	[opaddress] [text] NOT NULL,
	[oamount] [money] NOT NULL,
	[ostatus] [int] NOT NULL,
 CONSTRAINT [PK_tblorders] PRIMARY KEY CLUSTERED 
(
	[oid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblpro]    Script Date: 8/25/2021 10:31:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblpro](
	[pid] [int] IDENTITY(2222222,1) NOT NULL,
	[pname] [varchar](50) NOT NULL,
	[pprice] [money] NOT NULL,
	[pdetails] [text] NOT NULL,
	[cid] [int] NOT NULL,
 CONSTRAINT [PK_tblpro] PRIMARY KEY CLUSTERED 
(
	[pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblusers]    Script Date: 8/25/2021 10:31:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblusers](
	[uid] [int] IDENTITY(1,1) NOT NULL,
	[uname] [varchar](50) NOT NULL,
	[upass] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tblusers] PRIMARY KEY CLUSTERED 
(
	[uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblimages]  WITH CHECK ADD  CONSTRAINT [FK_tblimages_tblpro] FOREIGN KEY([pid])
REFERENCES [dbo].[tblpro] ([pid])
GO
ALTER TABLE [dbo].[tblimages] CHECK CONSTRAINT [FK_tblimages_tblpro]
GO
ALTER TABLE [dbo].[tblorderdetails]  WITH CHECK ADD  CONSTRAINT [FK_tblorderdetails_tblcust] FOREIGN KEY([custid])
REFERENCES [dbo].[tblcust] ([customerid])
GO
ALTER TABLE [dbo].[tblorderdetails] CHECK CONSTRAINT [FK_tblorderdetails_tblcust]
GO
ALTER TABLE [dbo].[tblorderdetails]  WITH CHECK ADD  CONSTRAINT [FK_tblorderdetails_tblorders] FOREIGN KEY([oid])
REFERENCES [dbo].[tblorders] ([oid])
GO
ALTER TABLE [dbo].[tblorderdetails] CHECK CONSTRAINT [FK_tblorderdetails_tblorders]
GO
ALTER TABLE [dbo].[tblorderdetails]  WITH CHECK ADD  CONSTRAINT [FK_tblorderdetails_tblpro] FOREIGN KEY([pid])
REFERENCES [dbo].[tblpro] ([pid])
GO
ALTER TABLE [dbo].[tblorderdetails] CHECK CONSTRAINT [FK_tblorderdetails_tblpro]
GO
ALTER TABLE [dbo].[tblorders]  WITH CHECK ADD  CONSTRAINT [FK_tblorders_tblcust] FOREIGN KEY([ostatus])
REFERENCES [dbo].[tblcust] ([customerid])
GO
ALTER TABLE [dbo].[tblorders] CHECK CONSTRAINT [FK_tblorders_tblcust]
GO
ALTER TABLE [dbo].[tblpro]  WITH CHECK ADD  CONSTRAINT [FK_tblpro_tblcat] FOREIGN KEY([cid])
REFERENCES [dbo].[tblcat] ([cid])
GO
ALTER TABLE [dbo].[tblpro] CHECK CONSTRAINT [FK_tblpro_tblcat]
GO
USE [master]
GO
