@model myshop.tblorder

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_mainlayout.cshtml";
}

<h2>Create</h2>

<form action="/tblorders/Create" method="post">
    <input name="__RequestVerificationToken" type="hidden" value="ZGuaO0nSm21mD9MPlkxjBvS9m7lslpjUwEFGyyZJCTqQFWGptRuxCeZQvSgTz1cVXEavNm3dKHMDNUULjj-LMRivV71MYNXR-ys9qA5dBQA1" />    <div class="form-horizontal">
        <h4>tblorder</h4>
        <hr />

        <div class="form-group">
            <label class="control-label col-md-2" for="odate">odate</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-date="The field odate must be a date." data-val-required="The odate field is required." id="odate" name="odate" type="datetime" value="" />
                <span class="field-validation-valid text-danger" data-valmsg-for="odate" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="opname">opname</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="opname" name="opname" type="text" value="" />
                <span class="field-validation-valid text-danger" data-valmsg-for="opname" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="opphone">opphone</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="opphone" name="opphone" type="text" value="" />
                <span class="field-validation-valid text-danger" data-valmsg-for="opphone" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="opaddress">opaddress</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="opaddress" name="opaddress" type="text" value="" />
                <span class="field-validation-valid text-danger" data-valmsg-for="opaddress" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="oamount">oamount</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-number="The field oamount must be a number." data-val-required="The oamount field is required." id="oamount" name="oamount" type="text" value="" />
                <span class="field-validation-valid text-danger" data-valmsg-for="oamount" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="ostatus">ostatus</label>
            <div class="col-md-10">
                <select class="form-control" id="ostatus" name="ostatus">
                    <option value="1">admin</option>
                </select>
                <span class="field-validation-valid text-danger" data-valmsg-for="ostatus" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
