@model myshop.tblorderdetail

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_adminlayout1.cshtml";
}



<h3>Successfully Deleted</h3>
<div>
        <div class="form-actions no-color">
            @Html.ActionLink("Back to List", "Dashboard", "admin")
        </div>
    
</div>
