
@{
    ViewBag.Title = "about";
    Layout = "~/Views/Shared/_mainlayout.cshtml";
}

<section>
    <div class="block2 rs-overlay">
        <div class="fixed-bg bg4"></div>
        <div class="container">
            <div class="pager-sec">
                <div class="page-title">
                    <h3>About Us</h3>
                </div>
                <!--page-title end-->
                <div class="page-links">
                    <ul>
                        <li><a href="index" title="">Home</a></li>
                        <li><span>About Us</span></li>
                    </ul>
                </div>
                <!--page-links end-->
            </div>
            <!--pager-sec end-->
        </div>
    </div>
</section>
<section>
    <div class="block less-padding3">
        <div class="container">
            <div class="content"><h2 ss ease-in-out 0s;"><strong>Our Strategies and Objectives</strong></h2><div class="wpb_text_column wpb_content_element " style="margin-bottom: 35px;"><div class="wpb_wrapper" style="margin-bottom: 0px;"><p style="margin-bottom: 20px;">Bookberry.pk is operated by ARJ Solutions Pakistan, a Technology Company based in Karachi, Pakistan. Bookberry.pk an e-commerce web store works on the Mission to give people the most convenient, easy and secure shopping experience to our customers.</p><p style="margin-bottom: 20px;">Bookberry.pk is a team of experienced people from diverse backgrounds working together to fulfill 3 main objective’s – benefiting customers of low prices, providing a vast catalog selection and products and lastly a fast, reliable and a very safe payment and delivery option to the customers.</p><p style="margin-bottom: 20px;">We are committed to ensure 100% Purchase Protection for your shopping done on Bookberry.pk so that you can benefit from a safe and secure online ordering experience and a convenient &amp; safe electronic payments.</p><p style="margin-bottom: 0px;">We are still in our initial days and we are relentlessly focused on growing more catalogues and constantly improvising customer experience in Pakistan. We trust, you will be by our side always.</p></div></div></div>  <div id="content-bottom">

                <div class="collection-sec">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="abt-img wow fadeInDown" >
                                <img src="~/assets/images/resources/abt-img.jpg" alt="">
                            </div>
                            <!--abt-img end-->
                        </div>
                        <div class="col-lg-6">
                            <div class="about-us-text wow fadeInRight" >
                                <h4>Limited Edition</h4>
                                <h2>Collection 2021</h2>
                                <p>"”Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. ”</p>
                               
                            </div>
                            <!--about-us-text end-->
                        </div>
                    </div>
                </div>
                <!--collection-sec end-->
            </div>
        </div>
</section>
<section>
    <div class="block bd-btm">
        <div class="container">
            <div class="services-sec">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="service-dt wow fadeInLeft animated" data-wow-delay="500ms" data-wow-duration="1500ms">
                            <span><i class="fa fa-bullhorn"></i></span>
                            <h3>30 DAYS RETURN</h3>
                            <p>We have created the new macbook psd version with scalable vector shapes. </p>
                        </div>
                        <!--service-dt end-->
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="service-dt wow fadeInDown animated" data-wow-delay="500ms" data-wow-duration="1500ms">
                            <span><i class="fa fa-car"></i></span>
                            <h3>FREE SHIPPING</h3>
                            <p>We have created the new macbook psd version with scalable vector shapes. </p>
                        </div>
                        <!--service-dt end-->
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="service-dt wow fadeInRight animated" data-wow-delay="500ms" data-wow-duration="1500ms">
                            <span><i class="fa fa-lock"></i></span>
                            <h3>SECURE PAYMENTS</h3>
                            <p>We have created the new macbook psd version with scalable vector shapes. </p>
                        </div>
                        <!--service-dt end-->
                    </div>
                </div>
            </div>
            <!--services-sec end-->
        </div>
    </div>
</section>
<section>
    <div class="block bd-btm">
        <div class="container">
            <div class="partners-section">
                <ul class="partner-carousel">
                    <li><a href="#" title=""><img src="~/assets/images/resources/partner-logo1.png" alt=""></a></li>
                    <li><a href="#" title=""><img src="~/assets/images/resources/partner-logo2.png" alt=""></a></li>
                    <li><a href="#" title=""><img src="~/assets/images/resources/partner-logo3.png" alt=""></a></li>
                    <li><a href="#" title=""><img src="~/assets/images/resources/partner-logo4.png" alt=""></a></li>
                    <li><a href="#" title=""><img src="~/assets/images/resources/partner-logo5.png" alt=""></a></li>
                    <li><a href="#" title=""><img src="~/assets/images/resources/partner-logo6.png" alt=""></a></li>
                    
                </ul>
            </div>
            <!--partners-section end-->
        </div>
    </div>
</section>

