
@{
    ViewBag.Title = "contact";
    Layout = "~/Views/Shared/_mainlayout.cshtml";
}

<section>
    <div class="block2 rs-overlay">
        <div class="fixed-bg bg4"></div>
        <div class="container">
            <div class="pager-sec">
                <div class="page-title">
                    <h3>Contact Us</h3>
                </div>
                <!--page-title end-->
                <div class="page-links">
                    <ul>
                        <li><a href="index" title="">Home</a></li>
                        <li><span>Contact</span></li>
                    </ul>
                </div>
                <!--page-links end-->
            </div>
            <!--pager-sec end-->
        </div>
    </div>
</section>

<section>
    <div class="block4 wow fadeInLeft animated" data-wow-delay="500ms" data-wow-duration="1500ms">
        <div class="container">
            <div class="main-contact-form">
                <div class="title">
                    <h2>send a message</h2>
                    <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore ma gna aliqua enim <br /> ad minim veniam quis nostrud exercitation ullamco laboris nisi aliquip. </p>
                </div>
                <!--title end-->
                <div class="container">
                    <div class="address-points">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="addpress-point wow fadeInLeft animated" data-wow-delay="500ms" data-wow-duration="1500ms">
                                    <div class="point-icon">
                                        <i class="fa fa-map-o"></i>
                                    </div>
                                    <div class="address-info">
                                        <h3>Address</h3>
                                        <span>121 King Street, Melbourne</span>
                                        <span>Victoria AU 3000</span>
                                    </div>
                                </div>
                                <!--addpress-point end-->
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="addpress-point wow fadeInDown animated" data-wow-delay="500ms" data-wow-duration="1500ms">
                                    <div class="point-icon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <div class="address-info">
                                        <h3>Helpline / Fax</h3>
                                        <span>1 - 718 - 441 - 5628</span>
                                        <span><strong>FAX:</strong> 003 - 123 - 9876</span>
                                    </div>
                                </div>
                                <!--addpress-point end-->
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="addpress-point wow fadeInRight animated" data-wow-delay="500ms" data-wow-duration="1500ms">
                                    <div class="point-icon">
                                        <i class="fa fa-envelope-o"></i>
                                    </div>
                                    <div class="address-info">
                                        <h3>Email</h3>
                                        <span>shop@storenix.com</span>
                                        <span>contact@domain.com</span>
                                    </div>
                                </div>
                                <!--addpress-point end-->
                            </div>
                        </div>
                        <!--contact-form end-->
                    </div>
                    <!--main-contact-form end-->
                </div>
    </div>
</section>


<section class="wow fadeInDown animated" data-wow-delay="500ms" data-wow-duration="1500ms">
    <div class="block no-padding">
        <div class="fixed-bg bg6"></div>
        <div class="container">
            <div class="social-main-links">
                <ul>
                    <li><a href="#" title="">Facebook</a></li>
                    <li><a href="#" title="">twitter</a></li>
                    <li><a href="#" title="">google+</a></li>
                    <li><a href="#" title="">pinterest</a></li>
                    <li><a href="#" title="">instagram</a></li>
                </ul>
            </div>
            <!--social-main-links end-->
        </div>
    </div>
</section>

<section class="wow fadeInDown animated" data-wow-delay="500ms" data-wow-duration="1500ms">
    <div class="block no-padding">
        <div id="map"></div>
    </div>
</section>
