
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mainlayout.cshtml";
}
<section>
    <div class="block4 bd-btm">
        <div class="container">
            <div class="login-register">
                <div class="pager-sec2">
                    <h3  style="margin-bottom:15%;">Successfully Registered</h3>
                    <a href="@Url.Action("home","main")" type="button" class="btn btn-primary">LOGIN NOW</a>
                </div>

            </div>
        </div>
        <!--login-register end-->
    </div>

</section>

